#-----------------------------------------------------------------------
# common
#-----------------------------------------------------------------------
*.[ao]
*.la
*.lo
*.so
*.dll
*.exe
*.pyc
deps.mak
.deps/
.libs/
Makefile
Makefile.in
Makefile.in.in
cscope.out
cscope.files
.dirstamp
autom4te.cache


#-----------------------------------------------------------------------
# / (root)
#-----------------------------------------------------------------------
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/ltmain.sh
/texinfo.tex
/COPYING
/INSTALL
/intltool
/intltool-*
/missing
/mkinstalldirs
/libtool

#-----------------------------------------------------------------------
# /po/
#-----------------------------------------------------------------------
/po/ChangeLog.save
/po/*.gmo
/po/*.header
/po/.intltool-merge-cache
/po/LINGUAS
/po/Makevars
/po/*.mo
/po/*.pot
/po/POTFILES
/po/POTFILES.ignore
/po/POTFILES.in.missing
/po/POTFILES.in.noi18n
/po/Rules-quot
/po/*.sed
/po/*.sin
/po/stamp-it